<section class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1>Editing person</h1>   

      <%= render "form", person: @person %>

      <br>

      <div class="d-flex justify-content-between">
        <div>
          <%= link_to "Show this person", @person %> |
          <%= link_to "Back to people", people_path %>
        </div>
        <%= link_to person_path(@person), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "text-danger" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
</section>
