<h1>My People</h1>

<div id="people">
  <% @people.each do |person| %>
    <%= link_to person.firstlast_name, person, class: "badge rounded-pill text-bg-secondary", style: "text-decoration: none;" %><br>
  <% end %>
</div>
