<section class="h-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center my-5">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6 d-flex align-items-center rounded-start bg-black">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <%= image_tag 'pensieve_logo', alt: 'Pensieve logo', class:"img-fluid" %>
                <p class="text-center fs-1" style= "font-family: 'Permanent Marker';">Your Time Capsule</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h1 class="mt-1 mb-3 pb-1", style= "font-family: 'Permanent Marker';"><%= title %></h1>
                </div>
                <%= yield :card_content %>
                <div class="d-flex justify-content-between">
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
