<% content_for :head do %>
  <%= stylesheet_link_tag 'slider' %>
<% end %>

<div class="col-12 d-flex flex-column flex-md-row justify-content-between align-items-center mb-3">
  <h1 class="flex-grow-1">Dashboard</h1>
  <div class="d-flex">
    <div>
      <%= render partial: 'shared/modal_create', locals: { model: "person" } %>
    </div>
    <div>
      <%= render partial: 'shared/modal_create', locals: { model: "memory", model2: "people", size: "modal-xl" } %>
    </div>
      </div>
</div> 

<div class="d-flex flex-column flex-md-row justify-content-center">
  <div class="col">
    <div id="mapbox" class="min-vh-50" style='width: 100%; height: 95%; min-height: 600px;'></div>
  </div>
</div>

<%= javascript_include_tag 'mapbox' %>
