<section>
  <h1>Editing memory</h1>

  <%= render "form", memory: @memory, people: @people %>
</section>
<br>

<div>
  <%= link_to "Show this memory", @memory %> |
  <%= link_to "Back to memories", memories_path %>
</div>
