<p style="color: green"><%= notice %></p>

<h1>Memories</h1>

<div id="memories">
  <% @memories.each do |memory| %>
    <%= render memory %>
    <p>
      <%= link_to "Show this memory", memory %>
    </p>
  <% end %>
</div>

<%= link_to "New memory", new_memory_path %>
